obj/*
bin/*
.sconsign.dblite
.vscode/ipch/*
disc/*
dr_env/
*.o


.vscode/c_cpp_properties.json
gamedata/*
manual/manual.aux
manual/manual.dvi
manual/manual.fdb_latexmk
manual/manual.fls
manual/manual.log
manual/manual.synctex.gz
dump.mem
